/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2024, 2:35:14 PM
    Author     : HOME
*/
body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f0f0f0;
        background-image: url("https://wallpapercave.com/wp/wp3458025.jpg");
        background-size: cover;
    }

#logo{
    text-align: left;
    color: rgb(0, 0, 0);
    
}
.logo1{
    padding-top: 10px;
}
.div{
        margin-top: 20px;
        margin-left: 20px;
        border: 5px solid #07738b;
        padding: 8px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px ;
      
    }
    .links{
         text-decoration: none;
        text-align: right;
         margin-left: 70%;
        font-size: 20px;
        color: black;
        padding: 12px 25px;
        border: none;
        cursor: pointer; 
        font-weight:550;
    }
    .links:hover{
        color:#07738b;
        
    }
    .links1{
/*         text-align: right;*/
         text-decoration: none;
        font-size: 20px;
        font-weight:550;
        color: black;
        padding: 12px 25px;
        border: none;
        cursor: pointer; 
    }
     .links1:hover{
        color: #07738b;
    }

.login-container {
    
    border: 2px solid #312c2c;
    padding: 20px;
    margin: 20px auto;
    margin-top: 100px;
    width: 550px;
    height: 320px;
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUYXWGURK1JoXoZhOZcRzSNujt--6hQBBZzg&s");
        /* background-color: #5b7cce; */
         background-size: cover;
}

.login-container h3{
    font-family: sans-serif;
    font-size: 20px;
}
.login-container p{
    font-family: sans-serif;
    font-size: 17px;
}


